<div class="container">
  <h1>Edit Flat</h1>
  <%= simple_form_for [@flat] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
    <%= f.submit "Edit Flat", class: "btn btn-primary" %>
  <% end %>
</div>
