

<nav class = "navbar navbar-expand-lg bg-light d-flex">
  <div class="container">
    <h2 class="navbar-brand">Simple Airbnb</h2>
    <h3><%= link_to "Add flat", new_flat_path %></h3>
  </div>
</nav>
<div class="container mt-3">
<h2>All our Flats</h2>

<div class="row">
  <% @flats.each do |flat| %>
  <div class="col-3">
    <div class="card">
      <div style=""></div>
      <%= link_to flat.name, flat_path(flat), class: "text-decoration-none" %>
      <p><%= flat.address %></p>
      <p><%= flat.number_of_guests %> guests</p>
      <p><%= flat.price_per_night %> $</p>
      <%= link_to "More info", flat_path(flat)  %>
      <%= link_to "Edit Flat", edit_flat_path(flat)  %>
      <%= link_to "Delete Flat", flat_path(flat),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
  <% end %>
</div>
